/* overlay stuff */

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	top: 100px;
	text-align: center;
	margin-bottom: 500px;
}

.ls-info {
	background: #fff;
	width: 90%;
	border: 3px solid #6bd4e2;
	border-collapse: separate;
	border-radius: 10px;
	z-index: 10;
	margin: auto;
}


/* general padding */

p {
	padding: 5px;
}

#particles-js {
	padding: 5px;
}


/* image-specific */

.ls-row {
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: center;
}

.ls-title {
	margin: 15px;
}

.ls-break {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 25px !important;
	margin-right: 25px !important;
	background-color: #6bd4e2;
	height: 3px !important;
	border-radius: 6px;
}

.bio {
	padding: 20px;
}

.bio-pic {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}